@media screen and (max-width: 1024px)
{
	#menu
	{
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	header
	{
  		font-size: 1.5vw;
	
	}
	.carte
	{
	font-size: smaller;
	}
.pro
	{
	font-size: 6vw;
	min-width: 380px;
	}
}