
	/* Fonts */

@font-face {
    font-family: 'metropolisregular';
    src: url('fonts/metropolis-regular-webfont.woff2') format('woff2'),
         url('fonts/metropolis-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'metropolismedium';
    src: url('fonts/metropolis-medium-webfont.woff2') format('woff2'),
         url('fonts/metropolis-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'metropolisbold';
    src: url('fonts/metropolis-bold-webfont.woff2') format('woff2'),
         url('fonts/metropolis-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'metropolissemi_bold';
    src: url('fonts/metropolis-semibold-webfont.woff2') format('woff2'),
         url('fonts/metropolis-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* voir superposition */
body
{
	position: relative;
	margin: 0px;
}
header
{
	background-color: rgb(87, 156, 135);
}
h1
{	
	text-align: center;
	font-family: 'metropolissemi_bold';
	letter-spacing: -0.1em;
	font-size: 5.9em;
	color: rgb(253, 203, 70);
	margin-top: 0px;
	padding: 0.6em;

}
img
{
	position: relative;
	margin : auto;
	box-shadow: 0px 0px 15px rgb(221, 221, 221);
	width: 85%;

}
a
{
	text-decoration: none;
    color: inherit;
	display: inline-block
}
.carte_b
{
	display: flex;
	justify-content: center;
	margin-bottom: 9em;
	
	
}
.underline_1{
	width: 15%;
	position: absolute;
	height: 40px;
	margin-top: 24.5%;

}
.underline_1b:hover{
		transform-origin:left 100%;
		border-bottom: 4px solid rgb(87, 156, 135);
		transition: all 200ms cubic-bezier(0,-0.41,1,1.47); 
}
.underline_2{
	width: 100%;
	background-color: rgb(87, 156, 135);
	border-radius: 5px;
	position: absolute;
	height: 6px;
	margin-top: 15%;
	transform-origin: 0% 50%;
	transform: scale(0);
}
.underline_2b{
	width: 20%;
	position: absolute;
	height: 40px;
	margin-top: 55%;

}
.underline_2b:hover .underline_2{
		
		transform: scale(1);
		transition: all 800ms cubic-bezier(.42,.97,.8,1); 
}
.underline_3{
	width: 23%;
	position: absolute;
	height: 40px;
	margin-top: 79%;
}
.underline_3:hover{
		transform-origin: left 97%;
		border-bottom: 4px solid rgb(87, 156, 135);
		transition: all 200ms cubic-bezier(0,-0.41,1,1.47); 
}
footer
{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	font-family: 'metropolisregular';
	font-size: 3vw;
	color: rgb(253, 203, 70);
	background-color: rgb(87, 156, 135);
	padding: 15px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}
.wiggle:hover
{
	animation: shake 3s infinite;
}
@keyframes shake{
	0%{transform: rotate(0deg)}
	3%{transform: rotate(-2deg)}
	4%{transform: rotate(2deg)}
	5%{transform: rotate(-2deg)}
	6%{transform: rotate(0deg)}
	100%{transform: rotate(0deg)}
}

article
{	
	display: flex;
	flex-direction: column-reverse;
}
.block
{
	padding: 2em;
}