
	/* Fonts */

@font-face {
    font-family: 'metropolisregular';
    src: url('fonts/metropolis-regular-webfont.woff2') format('woff2'),
         url('fonts/metropolis-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'metropolismedium';
    src: url('fonts/metropolis-medium-webfont.woff2') format('woff2'),
         url('fonts/metropolis-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'metropolisbold';
    src: url('fonts/metropolis-bold-webfont.woff2') format('woff2'),
         url('fonts/metropolis-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'metropolissemi_bold';
    src: url('fonts/metropolis-semibold-webfont.woff2') format('woff2'),
         url('fonts/metropolis-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* voir superposition */
body
{
	position: relative;
	margin: 0px;
}
header
{
	background-color: rgb(87, 156, 135);
}
h1
{	
	text-align: center;
	font-family: 'metropolissemi_bold';
	letter-spacing: -0.1em;
	font-size: 5.9em;
	color: rgb(253, 203, 70);
	margin-top: 0px;
	padding: 0.6em;

}
a
{
	text-decoration: none;
    color: inherit;
	display: inline-block
	
}
img
{
	position: relative;
	width: 100%;
	margin-bottom: 0px;
	vertical-align: middle;
	

}
#menu
{
	display: flex;
	align-content:  stretch;
	text-align: center;
	justify-content: space-around;
	flex-wrap: wrap;
}
.carte{
	overflow: hidden;
	box-shadow: 0px 0px 15px rgb(221, 221, 221);
}
.image
{
	float: left;
	transform: scale(1);
	transition: transform 400ms ease-in-out;
}
.image:hover{
	transform: scale(1.15);
}
.btn_pro
{
	display: flex;
	justify-content: center;
	font-family: 'metropolisregular';
	font-size: 4em;
	color: rgb(253, 203, 70);
	background-color: rgb(87, 156, 135);
	margin: auto;
	margin-top: 2em;
	margin-bottom: 3em;
	width: 55%;
	max-width: 10em;
	padding: 10px;
	border-radius: 15px;
}
footer
{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	font-family: 'metropolisregular';
	font-size: 3.2em;
	color: rgb(253, 203, 70);
	background-color: rgb(87, 156, 135);
	padding: 15px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

article
{	
	display: flex;
	flex-direction: column-reverse;
	width: 40%;
	margin-bottom: 6em;
}
.block
{
	padding: 2em;

}
.pro
{
	margin:0;
	width: 100%;
	text-align: center;
}
