
	/* Fonts */

@font-face {
    font-family: 'metropolisregular';
    src: url('fonts/metropolis-regular-webfont.woff2') format('woff2'),
         url('fonts/metropolis-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'metropolismedium';
    src: url('fonts/metropolis-medium-webfont.woff2') format('woff2'),
         url('fonts/metropolis-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'metropolisbold';
    src: url('fonts/metropolis-bold-webfont.woff2') format('woff2'),
         url('fonts/metropolis-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'metropolissemi_bold';
    src: url('fonts/metropolis-semibold-webfont.woff2') format('woff2'),
         url('fonts/metropolis-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* voir superposition */
body
{
	position: relative;
	margin: 0px;
}
header
{
	background-color: rgb(87, 156, 135);
}
h1
{	
	text-align: center;
	font-family: 'metropolissemi_bold';
	letter-spacing: -0.1em;
	font-size: 5.9em;
	color: rgb(253, 203, 70);
	margin-top: 0px;
	padding: 0.6em;

}
a
{
	text-decoration: none;
    color: inherit;
	display: inline-block
	
}
img
{
	position: relative;
	width: 100%;
	margin-bottom: 0px;
	vertical-align: middle;
	

}
#menu
{
	display: flex;
	align-content:  stretch;
	text-align: center;
	justify-content: space-around;
	flex-wrap: wrap;
}
.carte{
	overflow: hidden;
	box-shadow: 0px 0px 15px rgb(221, 221, 221);
}
.carte_b
{
	display: flex;
	justify-content: center;
	margin-bottom: 9em;
}
.image
{
	float: left;
	transform: scale(1);
	transition: transform 400ms, opacity 400ms 150ms;
}
.image:hover{
	transform: scale(1.15);
	opacity: 0.75;
}
.btn_pro
{
	display: flex;
	justify-content: center;
	font-family: 'metropolisregular';
	font-size: 4em;
	color: rgb(253, 203, 70);
	background-color: rgb(87, 156, 135);
	margin: auto;
	margin-top: 2em;
	margin-bottom: 3em;
	width: 55%;
	max-width: 10em;
	padding: 10px;
	border-radius: 15px;
	pointer-events: none;

}
footer
{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	font-family: 'metropolisregular';
	font-size: 3vw;
	color: rgb(253, 203, 70);
	background-color: rgb(87, 156, 135);
	padding: 15px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}
.wiggle:hover
{
	animation: shake 3s infinite;
}
@-webkit-keyframes shake{
	0%{-webkit-transform: rotate(0deg)}
	3%{-webkit-transform: rotate(-2deg)}
	4%{-webkit-transform: rotate(2deg)}
	5%{-webkit-transform: rotate(-2deg)}
	6%{-webkit-transform: rotate(0deg)}
	100%{-webkit-transform: rotate(0deg)}
}
.fa, .fab, .fad, .fal, .far, .fas
{
	margin-right: 30px;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    color: rgb(244,67,54);
    font-size: 1.4em;
}
article
{	
	display: flex;
	flex-direction: column-reverse;
	width: 40%;
	margin-bottom: 6em;
}
.block
{
	padding: 2em;

}
.pro
{
	margin:0;
	width: 100%;
	text-align: center;
}
